<div class="container px-0">
<h3 class="pt-2 text-center mb-0 pb-0 ">FRIENDS</h3>

</div>
<div class="container">
<div class="middle">
<p>Search for a contact by phone number</p>
<p class="text-info pb-2">Never add a contact you don't know or trust</p>
<%= form_with url: find_friends_path, method: :get, class: "d-flex pb-3" do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a friend"
  %>
  <%= submit_tag "Search", class: "btn btn-primary send" %>
<% end %>

<div class="users">
<% @users.each do |user| %>
  <div class="names">
   <div class="d-flex justify-content-between">
  <% if user.photo.attached? %>
        <%= cl_image_tag user.photo.key, class: "findpicture"%>
        <% else %>
        <%= image_tag "https://www.filosofie.nl/app/uploads//2020/06/camus-filosoof.jpg", class: "findpicture" %>
      <% end %>
  <%= link_to user.first_name.upcase, friends_path(user: user.id), data: { turbo_method: :post } %>
  <p><%= user.phone_number %></p>
  </div>
  </div>
<% end %>
</div>
</div>

  <div class="add d-flex justify-content-center">
  <div class="d-flex justify-content-center"><p class="pt-1 px-2 m-0 d-flex justify-content-center">Can't find who you want? </p>
  <p class="button-green-shadow">INVITE A FRIEND</p>
  </div>
  </div>
</div>
</div>
