<div class="center" data-controller="activation-button">
    <div class="intro">
      <p>WALKING HOME WITH YOU</p>
    </div>
  <div class="main-avatar">
    <div class="activate" data-action="click->activation-button#change">

      <% if current_user.photo.attached? %>
        <%= cl_image_tag current_user.photo.key, class: "picture rounded-circle", data: { activation_button_target: "image" }%>
        <% else %>
        <%= image_tag "https://www.filosofie.nl/app/uploads//2020/06/camus-filosoof.jpg", class: "picture rounded-circle", data: { activation_button_target: "image" } %>
      <% end %>


    </div>
  </div>



  <div class="friend-avatar flex-container">
    <div>
    <div class="text-info font-weight-bold username">
      <p>KEEP IN TOUCH</p>
    </div>
    <% current_user.friends.each do |friend| %>
    <%= link_to chatroom_path(friend.user_friends.find_by(user_id: current_user).chatroom) do%>
    <% if friend.user.photo.attached? %>
        <%= cl_image_tag friend.user.photo.key, class: "rounded-circle image"%>
        <% else %>
        <%= image_tag "https://www.filosofie.nl/app/uploads//2020/06/camus-filosoof.jpg", class: "rounded-circle image" %>
      <% end %>
    <% end %>


  <% end %>

<% friends = [] %>
<% Friend.where(user: current_user).each do |friend| %>
<% friends += UserFriend.where(friend: friend) %>
<% end %>
<% friends.each do |friend| %>
<%= link_to friend.user.first_name, chatroom_path(friend.chatroom) %>
<% end %>
  </div>





</div>
