<p class="d-none my-target"><%= session[:status] %></p>
<div class="center" data-controller="activation-button">
    <div class="intro">
    <%# <%= image_tag "logo-ghs.png", class: "home" %>
      <p style="font-size: 20px;">WALKING HOME WITH YOU</p>
    </div>
  <div class="main-avatar">
    <div class="activate" data-action="click->activation-button#change">

      <% if session[:status] %>
        <% if current_user.photo.attached? %>
          <%= cl_image_tag current_user.photo.key, class: "picture rounded-circle avatar-active", data: { activation_button_target: "image" }%>
        <% else %>
          <%= image_tag "avatar.jpg", class: "picture rounded-circle avatar-active", data: { activation_button_target: "image" } %>
        <% end %>

      <% else %>
        <% if current_user.photo.attached? %>
          <%= cl_image_tag current_user.photo.key, class: "picture rounded-circle", data: { activation_button_target: "image" }%>
        <% else %>
          <%= image_tag "avatar.jpg", class: "picture rounded-circle", data: { activation_button_target: "image" } %>
        <% end %>
      <% end %>

    </div>
  </div>



  <div class="friend-avatar flex-container">
    <div>
    <div class="text-black font-weight-bold username">
      <p>KEEP IN TOUCH</p>
    </div>
    <% current_user.friends.each do |friend| %>
    <%= link_to chatroom_path(friend.user_friends.find_by(user_id: current_user).chatroom) do%>
    <% if friend.user.photo.attached? %>
        <%= cl_image_tag friend.user.photo.key, class: "rounded-circle image mb-3"%>
        <% else %>
        <%= image_tag "avatar.jpg", class: "rounded-circle image mb-3" %>
      <% end %>
    <% end %>
  <% end %>

<%# friends = [] %>
<%# Friend.where(user: current_user).each do |friend| %>
<%# friends += UserFriend.where(friend: friend) %>
<%# end %>
<%# friends.each do |friend| %>
<%#= link_to friend.user.first_name, chatroom_path(friend.chatroom) %>
<%# end %>
  </div>
</div>

<%# MAP ON HOMEPAGE %>
<%# <div data-controller="modal" style="width: 100vw; padding-top: 20px">
  <div class="icon-link icon-modal w-25 m-auto text-center"  data-action="click->modal#show" data-modal-target="icon">
    <i class="fa-solid fa-location-dot"></i>
  </div> %>
  <%# <div class="d-none" data-modal-target="map"> %>
  <%# <%= render "map" %>
  <%# </div> %>
<%# </div> %>
