<div class="container">
  <div class="details">
    <% if @user.photo.attached? %>
      <%= cl_image_tag @user.photo.key, class: "rounded-circle img"%>
      <% else %>
      <%= image_tag "avatar.jpg", class: "rounded-circle img" %>
    <% end %>
    <div class="name text-danger">
      <%= @user.first_name.upcase %> <%= @user.last_name.upcase %>
    </div>

    <div class="p-3">
      <% user_friend = Friend.find_by(user_id: @user.id).user_friends.find_by(user_id: current_user.id) %>
      <% if user_friend %>
        <%= link_to "Message", chatroom_path(user_friend.chatroom), class: "button-green-shadow" %>
      <% else %>
        Profile
      <% end %>
    </div>

    <div class="">
      <p>EMAIL <span style="color: #6C27FF"><%= @user.email.upcase%></span></p>
      <p>PHONE NUMBER <span style="color: #6C27FF"><%= @user.phone_number %></span></p>
      <p>HOME ADDRESS <span style="color: #6C27FF"><%= @user.address %></span></p>
    </div>

    <% user_friend = UserFriend.find_by(user_id: current_user.id, friend_id: Friend.find_by(user_id: @user.id).id) %>
    <div class="remove">
      <i class="fa-solid fa-trash"></i> <%= link_to "Remove friend", unfriend_path(id: user_friend.id), data: {turbo_confirm: "Are you sure?"} %>
    </div>
  </div>
</div>

<p class="d-none my-target"><%= session[:status] %></p>
